<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- SEC-CFG-001: Hardcoded credentials in config -->
    <add key="ApiPassword" value="SuperSecret123!" />
    <add key="OracleDbToken" value="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.abc123" />
    <add key="AppName" value="MyApplication" />
  </appSettings>

  <connectionStrings>
    <!-- SEC-ORA-010: Hardcoded Oracle password in connection string -->
    <add name="OracleDB"
         connectionString="Data Source=PRODDB;User Id=APP_ADMIN;Password=Oracle2024Prod!"
         providerName="Oracle.ManagedDataAccess.Client" />
  </connectionStrings>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <!-- SEC-SOAP-002: No security on binding -->
        <binding name="InsecureBinding">
          <security mode="None" />
        </binding>
      </basicHttpBinding>
    </bindings>

    <client>
      <!-- SEC-SOAP-004: HTTP endpoint -->
      <endpoint address="http://api.production.example.com/service.svc"
                binding="basicHttpBinding"
                contract="IMyService" />
    </client>

    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- SEC-SOAP-007: WSDL metadata exposed -->
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>
